{{ define "main" }}
<div class="container m-4">
  <h1 class="m-4">記</h1>
      {{ range $index, $page := .Pages }}
      <div class="row">
      {{/*  {{ if eq (mod $index 3) 0 }}<div class="w-100"></div>{{end}}  */}}
      <div class="card col m-3">
      <div class="card-body" >
        <h4 class="card-title">{{ .LinkTitle }}</h4>
        <h6 class="card-subtitle mb-1 text-muted">{{ .Date | time.Format ":date_medium" }}</h6>
        <p class="card-text">
          {{ $rawContent := .RawContent }}
          {{ $first10Chars := substr $rawContent 0 15 }}
          {{ $first10Chars }}....<a href="{{ .RelPermalink }}" class="card-link">つづき</a>
        </p>
        
      </div>
      </div>
    </div>
    {{ end }}
</div>

  
{{ end }}