{{ define "main" }}
<div class="container m-4">
<div class="card">
<div class="card-body">
    <div class="input-group mb-3">
        <input type="text" class="form-control" value="2018年 3月 高校 卒業" id="1" >
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" onclick="copyFunc(this,'1')">Copy</button>
        </div>
    </div>


    <div class="input-group mb-3">
        <input type="text" class="form-control" value="2018年 4月 大学 入学" id="2" >
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" onclick="copyFunc(this,'2')">Copy</button>
        </div>
    </div>


    <div class="input-group mb-3">
        <input type="text" class="form-control" value="2022年 3月 大学 卒業" id="3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" onclick="copyFunc(this,'3')">Copy</button>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" value="2022年 4月 大学院 博士前期課程 入学" id="4">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" onclick="copyFunc(this,'4')">Copy</button>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" value="2024年 3月 大学院 博士前期課程 卒業" id="5">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" onclick="copyFunc(this,'5')">Copy</button>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" value="2024年 4月 大学院 博士後期課程 入学" id="6">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" onclick="copyFunc(this,'6')">Copy</button>
        </div>
    </div>


<script>
    function copyFunc(element,num) {
        // Get the text field
        const copyText = document.getElementById(num);
      
        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices
      
         // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        element.innerText = "Copied"
      }
</script>
</div>
</div>
</div>
{{ end }}